<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="chat.js"></script>
</head>
<body>
<input type ="button" onclick="getCurrentUser()" value="usuario logeado"/>
<input type ="button" onclick="getAllUser()" value="TODOS"/>
<table with="100%" border ="1px">
    <tr>
        <td width="30%">
            Usuarios
        </td>
        <td>
            Mensajes
        </td>
    </tr>
</table>
</body>
</html>